<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5DP87KG8G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N5DP87KG8G');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Iniciar sesion

    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="head-content">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="search">
                <input type="search" name="" id="" placeholder="Busca productos, marcas"><a href=""><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="text">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="register.html">Crea tu Cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="login.html">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li>Mis Compras <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars hambur"></i>
        </div>
    </header>
    <main>
        <div class="contenedor-login">
            <h1 style="text-align: center;">Login</h1>
            <form class="form-login" action="respuesta.js" method="get">
                <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario o correo">
                <br>
                <input type="password" name="password" id="" placeholder="Ingrese su contraseña">
                <button class="btn-enviar" type="submit">Iniciar Sesion</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="card-foot">
                <i class="fa-regular fa-credit-card"></i>
                <p>Pagá con tarjeta o en efectivo</p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </div>
            <div class="card-foot">
                <i class="fa-solid fa-gift"></i>
                <p>Envío gratis desde $ 2.500</p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </div>
            <div class="card-foot">
                <i class="fa-solid fa-user-shield"></i>
                <p>Seguridad, de principio a fin</p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </div>
        </div>
        <div class="copy">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
    </footer>
</body>